* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    height: 100vh;
    background: #f2c94c;
    background-image:
        linear-gradient(45deg, #e6b800 25%, transparent 25%),
        linear-gradient(-45deg, #e6b800 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #e6b800 75%),
        linear-gradient(-45deg, transparent 75%, #e6b800 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.wrong-container {
    display: flex;
    flex-direction: column;
    align-items: center;      /* horizontal center */
    justify-content: center;  /* vertical center inside box */
    text-align: center;

    background: #fff8dc;
    padding: 50px 60px;   /* reduced padding */
    border: 4px solid #000;
    box-shadow: 8px 8px 0 #000;
}

/* Message */
.wrong-container h1 {
    font-size: 15px;
    margin-bottom: 30px;
    color: #000;
}

/* Pixel Image */
.pixel-image {
    width: 200px;
    margin: 30px 0;   /* balanced spacing */
    image-rendering: pixelated;
}

/* Button */
button {
    padding: 15px 25px;
    border: 4px solid #000;
    background: #ff6b6b;
    color: #000;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 6px 6px 0 #000;
    transition: 0.1s;
    
}

button:active {
    transform: translate(6px, 6px);
    box-shadow: none;
}
